<h1>Gerenciado de Conteúdo</h1>

<a class="new-post" href="http://php-mvc-crud.test/?pagina=admin&metodo=create">Criar Publicação</a>
<br><br>

<!--####################################################################################################-->

<table class="w-full text-left rounded-sm table-auto border-2">
    <thead>
        <tr class="bg-gray-700 text-gray-200 border border-b-0  text-center">
            <th class="px-2 py-2">Id</th>
            <th class="px-2 py-2">Autor</th>
            <th class="px-2 py-2">Título</th>
            <th class="px-2 py-2">Contéudo</th>
            <th class="px-2 py-2">Acão</th>
        </tr>
    </thead>
    <tbody>
        {% for postagem in postagens %}
            <tr class="w-full font-light bg-gray-600 text-gray-200 border-2">
                <td class="px-4 py-4">{{postagem.id}}</td>
                <td class="px-4 py-4">{{postagem.autor}}</td>
                <td class="px-4 py-4">{{postagem.titulo}}</td>
                <td class="px-2 py-4">{{postagem.conteudo}}</td>
                <td class="flex flex-row px-8 py-8">
                    <a class="pr-2" href="http://php-mvc-crud.test/?pagina=admin&metodo=change&id={{postagem.id}}">
                        <span class="bg-yellow-400 text-gray-800 rounded hover:bg-yellow-300 px-4 py-2 focus:outline-none">Edit</span>
                    </a>
                    <a href="http://php-mvc-crud.test/?pagina=admin&metodo=delete&id={{postagem.id}}">
                        <span class="bg-red-500 text-gray-200 rounded hover:bg-red-400 px-4 py-2 focus:outline-none">Delete</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
