<div id="conteudo">
    <section>
        <!-- {{area_dinamica}} -->
        <h1 class="text-blue-400 bg-gray-700 p-2 text-center rounded-lg mb-6 border-r-8 border-l-8 border-t-2 border-b-2 border-black-600">Postagens</h1>

        {% for postagem in postagens %}
            <article class="bg-indigo-50 border-2 p-4 rounded-md">
                <header class="flex justify-between">
                    <time class="text-indigo-500">Criado: {{postagem.data_criacao}}</time>
                    <span class="text-indigo-500">Por: {{postagem.autor}}</span>
                </header>
                <hr>
                <div class="body-post">
                    <h2><a class="text-pink-700 font-semibold" href="#">{{postagem.titulo}}</a></h2>
                
                    <p class="text-gray-600">{{postagem.conteudo}}</p> <!--| {{postagem.id}}-->
                </div>
                
            </article>
        {% endfor %}
    </section>
</div>
        
