<div id="conteudo">
    <section>
        <!-- {{area_dinamica}} -->
        <h1 class="text-blue-400 bg-gray-700 p-2 text-center rounded-lg mb-6 border-r-8 border-l-8 border-t-2 border-b-2 border-black-600">Postagens</h1>

        {% for postagem in postagens %}
            <article class="bg-blue-50 border-2 p-4 rounded-md">
                <header class="flex justify-between">
                    <time class="bg-gray-50 text-gray-500 border-b-2 p-2 rounded-lg mb-2">Criado: {{postagem.data_criacao}}</time>
                    <span class="bg-gray-50 text-gray-500 border-b-2 p-2 rounded-lg mb-2">Por: {{postagem.autor}}</span>
                </header>
                <hr class="mb-2">
                <div class="body-post">
                    <h2><a class="text-blue-500 font-semibold" href="http://php-mvc-crud.test/?pagina=post&id={{postagem.id}}">{{postagem.titulo}}</a></h2>
                
                    <p class="text-gray-600">{{postagem.conteudo}}</p> <!--| {{postagem.id}}-->
                </div>
                
            </article>
        {% endfor %}
    </section>
</div>
        
