<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/tailwind.min.css">
    <title>PHP + MVC + CRUD</title>
</head>
<body>
    <div id="corpo">
        <div id="topo">
            <header>
                <nav>
                    <a href="http://php-mvc-crud.test/">
                        <span class="text-gray-600">Home</span>
                    </a> 
                    |
                    <a href="http://php-mvc-crud.test/?pagina=sobre">
                        <span class="text-gray-600">Sobre</span>
                    </a>
                </nav>
            </header>
            
        </div>

        <div id="conteudo">
            <section>
                {{area_dinamica}} <!--recebendo home.html-->
            </section>
        </div>
    </div>
</body>
</html>